<div class="container">
  <div class="row">
    <div class="col-xs-8">
    <h1>Topic</h1>
    <p>
  	<h4>タイトル</h4>
  	<%= @topic.title %>
    </p>
    <P>
    <h4>本文</h4>
  	<%= @topic.body %>
    </P>
    <%= link_to "Edit", edit_topic_path(@topic), class: "btn-sm btn-success" %>
    <%= link_to "Back", topics_path, class: "btn-sm btn-primary" %>
    </div>
  </div>
</div>
