<h1>show</h1>
  <p>
  	<h4>タイトル</h4>
  	<%= @topic.title %>
  </p>
  <P>
    <h4>本文</h4>
  	<%= @topic.body %>
  </P>
  <%= link_to "edit", edit_topic_path(@topic)%>
  <%= link_to "back", topics_path %>
